<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633238407382-erb60ml64vdheln62t4h85gn10279kng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633238407382-erb60ml64vdheln62t4h85gn10279kng</string>
	<key>API_KEY</key>
	<string>AIzaSyC6__wzhFn8wSGjyFHERd2k1FNorHHmRYk</string>
	<key>GCM_SENDER_ID</key>
	<string>633238407382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eflox.beerapp</string>
	<key>PROJECT_ID</key>
	<string>beerapp-721a8</string>
	<key>STORAGE_BUCKET</key>
	<string>beerapp-721a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633238407382:ios:15ac6488bcf2238d37a177</string>
	<key>DATABASE_URL</key>
	<string>https://beerapp-721a8-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>